*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#5E05F0,#FA1505);
}
p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #65FA05 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #17abad;
    text-align: center;
    text-shadow: 1px 1px 2px#00EBF0;
}
h2{
    color: white;
}
